Repository GCTC-NTGC/gc-digital-talent, pull requests merged in 2022-03, with the labels that each got.

#2184 Localize messages in Form components
  .github/workflows/storybook.yml
  frontend/admin/.storybook/preview.js
  frontend/admin/resources/js/components/IntlContainer.tsx
  frontend/admin/resources/js/dashboard.tsx
  frontend/admin/tsconfig.json
  frontend/common/src/components/form/Submit/Submit.tsx
  frontend/common/src/components/inputPartials/Fieldset/Fieldset.tsx
  frontend/common/src/components/inputPartials/InputLabel/InputLabel.tsx
  frontend/common/src/lang/fr.json
  frontend/common/src/lang/index.ts
  frontend/common/src/messages/commonMessages.ts
  frontend/talentsearch/.storybook/preview.js
  frontend/talentsearch/resources/js/components/IntlContainer.tsx
  frontend/talentsearch/tsconfig.json
Labels: bug, interruption

#2177 Dependabot documentation
  documentation/dependabot.md
Labels: documentation

#2222 Add documentation on recommended use of Functional Programming patterns
  documentation/style-guide.md
Labels: documentation

#2268 API_APP_URL to APP_URL
  api/.env.example
  api/config/app.php
  api/config/sanctum.php
Labels: infrastructure, interruption
